.cartproduct {
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.cartproduct__img-container {
    display: flex;
    justify-content: center;
}

.cartproduct__img {
    max-width: 90%;
}

.cartproduct__handle {
    text-align: center;
}

.cartproduct__handle-title {
    font-size: 18px;
    margin: 10px;
}

.cartproduct__utility {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cartproduct__utility-title {
    font-size: 20px;
}

.cartproduct__utility-btn-less {
    cursor: pointer;

}

.cartproduct__utility-btn-plus {
    cursor: pointer;
    
}

.cartproduct__total {
    display: flex;
    justify-content: center;
    
    margin: 10px;
}

.cartproduct__total-btn {
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 5px;
}


.cartproduct__total-btn {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .cartproduct__total-btn:active,
  .cartproduct__total-btn:hover,
  .button-45:focus {
    outline: 0;
  }
  
  
  .cartproduct__total-btn:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .cartproduct__total-btn:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }
  
  .cartproduct__total-btn:active:hover,
  .cartproduct__total-btn:focus:hover,
  .cartproduct__total-btn:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
*/

.cartproduct__total-btn:hover {
    background-color: var(--primary);
    color: white;
}



.cartproduct__total-num {
    margin-left: 5px;
}