.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px, 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

.navbar__name, .navbar__link {
    text-decoration: none;
}

.navbar__name {
    color: var(--primary);
    font-size: 20px;
}

.navbar__container-link {
    display: flex;
    gap: 10px;
}

.navbar__link {
    color: var(--text-gray);
    font-size: 20px;
    padding: 5px;
}

.navbar__link span {
    background-color: var(--primary);
    font-size: 17px;
    color: white;
    height: 25px;
    aspect-ratio: 1;
    font-weight: bold;
    position: absolute;
    right: -3px;
    bottom: -5px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

@media (min-width: 550px) {
    .navbar__container-link {
        gap: 40px;
    }


    .navbar__link {
        font-size: 30px;
        padding: 8px;
    }
}